<p id="notice"><%= notice %></p>

<p>
  <strong>Fistname:</strong>
  <%= @student.fistName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastName %>
</p>

<p>
  <strong>Code:</strong>
  <%= @student.code %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
