<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @plant.string %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @plant.quote %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
